header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  a {
    text-decoration: none;
    color: $primary-font-colour;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: $spacing-16;

    .header-logo {
      h2 {
        span {
          color: $primary-colour;
        }
      }
    }

    .navbar-links {
        display: none;
        position: fixed;
        background: black;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70%;

      ul {
        position: absolute;
        top: 100px;
        left: 20px;
        display: flex;
        gap: $spacing-56;
        flex-direction: column;

        li {
          display: flex;
          align-items: center;
          gap: $spacing-32;
        }
      }
    }

    .nav-btn {
      position: fixed;
      right: 0;
      top: 16px;
      right: 16px;
      z-index: 100;
      @include reset-btn;
    }

    .active {
      display: flex;
    }
  }
}

@media (max-width: 300px) {
  header {
    nav {
      .navbar-links {
        width: 250px;
      }
    } 
  }
}

@media (min-width: 600px) {
  header {
    nav {
      .navbar-links {
        width: 50%;
      }
    }
  }
}

@media (min-width: 800px) {
  header {
    background: none;

    nav {
      .navbar-links {
        display: flex;
        position: static;
        background: none;
        width: auto;
        height: auto;

        ul {
          position: static;
          flex-direction: row;

          li > img {
            display: none;
          }
        }
      }
      .nav-btn {
        display: none;
      }
    }
  }
}

@media (min-width: 1000px) {
  header {
    nav {
      padding: $spacing-32 $spacing-120;
    }
  }
}