.hero-container {
  .hero-banner-img {
    object-fit: cover;
    width: 100vw;
  }
  .swiper {
    .swiper-pagination {
      padding-bottom: $spacing-08;

      .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
        background-color: rgba(50, 50, 50, 0.61);
      }
      .swiper-pagination-bullet-active {
        background-color: $primary-colour; 
      }
    }

    .hero-movie-information-container {
      display: none;
    }
  }
}

@media (min-width: 800px) {
  .hero-container {
    position: relative;

    .hero-banner-img {
      height: 900px;
    }
    .swiper {
      .banner-foreground-overlay {
        position: absolute;
        width: 100vw;
        height: 900px;
        background: $foreground-overlay;
      }

      .swiper-pagination {
        padding-bottom: $spacing-40;

        .swiper-pagination-bullet {
          width: 18px;
          height: 18px;
        }
      }

      .hero-movie-information-container {
        position: absolute;
        bottom: 300px;
        left: 30px;
        display: flex;
        flex-direction: column;
        z-index: 3;
        padding: $spacing-16;
        width: 600px;

        .hero-rating-container {
          @include flex-center;
          gap: $spacing-08;
          background: linear-gradient(90deg, rgba(117, 155, 163, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
          width: 70px;
          backdrop-filter: blur(2px);
          padding: $spacing-08;
          border-radius: 8px;
          margin-bottom: $spacing-24;
        }

        .hero-title {
          margin-bottom: $spacing-16;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .hero-container {
    .swiper {
      .hero-movie-information-container {
        left: 100px;
      }
    }
  }
}

@media (min-width: 1700px) {
  .hero-container {
    .swiper {
      .hero-movie-information-container {
        left: 180px;
        bottom: 200px;
      }
    }
  }
}