.hero-container {
  .swiper {
    .swiper-slide img {
      object-fit: cover;
      width: 100vw;
    }

    .swiper-pagination {
      padding-bottom: $spacing-08;

      .swiper-pagination-bullet{
        width: 12px;
        height: 12px;
      }
      .swiper-pagination-bullet-active {
        background-color: $primary-colour; 
      }
    }
  }
}

@media (min-width: 800px) {
  .hero-container {
    position: relative;
    .swiper {
      .banner-foreground-overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: $foreground-overlay;
      }
      .swiper-slide img {
        height: 100vh;
      }

      .swiper-pagination {
        padding-bottom: $spacing-56;

        .swiper-pagination-bullet {
          width: 18px;
          height: 18px;
        }
      }

      .hero-movie-information-container {
        position: absolute;
        z-index: 3;
        color: $primary-font-colour;
        top: 0;
      }
    }
  }
}
