  .movie-details-top-cast-container {
    margin-top: $spacing-64;
    padding-left: $spacing-04;
    position: relative;

    h2 {
      margin-bottom: $spacing-24;
    }

    .movie-details-person-container {
      width: 120px;
      > p {
        // Adds an ellipsis if the name goes over the second line
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 110px;
        text-align: center;
      }
    }
  }

  @media (min-width: 450px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        > p {
          width: auto;
        }
      }
    }
  }

  @media (min-width: 500px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        width: 200px;
      }
    }
  }

  @media (min-width: 1000px) {
    .movie-details-top-cast-container {
      padding-left: 120px;
    }
  }

  @media (min-width: 1500px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        width: 300px;
      }
    }
  }