.trending-container {
  @include container-spacing;
  position: relative;
  h2 {
    @include h2-spacing;
  }
  .trending-movies-rating-container {
    position: absolute;
    display: flex;
    left: 8px;
    top: 8px;
    align-items: center;
    gap: $spacing-04;
    background: $rating-container-bg-colour;
    border-radius: 8px;
    padding: 0px $spacing-08;
    color: $primary-font-colour;

    p {
      font-size: pxToRem(10px);
    }

    img {
      width: 15px;
    }
  }
}

@media (min-width: 1000px) {
  .trending-container {
    position: relative;

    .trending-movies-rating-container {
      padding: 3px 10px;

      p {
        @include body-regular;
      }

      img {
        width: 20px;
      }
    }
  }
}