@import './swiper';

.trending-container {
  padding-left: $spacing-16;
  margin-bottom: $spacing-64;
  h2 {
    margin-top: $spacing-64;
    margin-bottom: $spacing-16;
  }
}

@media (min-width: 800px) {
  .trending-container {
    h2 {
      margin-bottom: $spacing-40;
    }
  }
}

@media (min-width: 1000px) {
  .trending-container {
    padding-left: $spacing-120;
    margin-bottom: $spacing-120;
    position: relative;
  }
}