.trending-container {
  padding-left: $spacing-16;
  margin-bottom: $spacing-64;
  h2 {
    margin-top: $spacing-64;
    margin-bottom: $spacing-16;
  }

  .swiper {
    .swiper-slide {
      img {
        width: 120px;
        border-radius: 16px;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }

}

@media (min-width: 500px) {
  .trending-container {
    .swiper {
      .swiper-slide {
        img {
          width: 200px;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .trending-container {
    padding-left: $spacing-120;
    h2 {
      margin-bottom: $spacing-40;
    }
  }
}

@media (min-width: 1000px) {
  .trending-container {
    margin-bottom: $spacing-120;
    .swiper {
      position: relative;
      .shadow-overlay-left {
        top: 0;
        width: 200px;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 61.07%, #000000 112.42%);
      }
      .shadow-overlay-right {
        top: 0;
        right: 0;
        width: 200px;
        background: linear-gradient(95deg, rgba(0, 0, 0, 0) 61.07%, #000000 112.42%);
      }
      .shadow-overlay-left, .shadow-overlay-right {
        position: absolute;
        height: 100%;
        z-index: 1;
      }
      .swiper-button-next, .swiper-button-prev {
        display: flex;
        color: white;
      }
      .swiper-button-disabled {
        display: none;
      }
    }
  }
}

@media (min-width: 1600px) {
  .trending-container {
    .swiper {
      .swiper-slide {
        img {
          width: 300px;
        }
      }
    }
  }
}