@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography */
/* Font Weights */
body {
  font-family: "Red Hat Display", sans-serif;
  color: #FFFFFF;
  background: #000000;
}

h1 {
  font-size: clamp(1.875rem, 6vw, 3.75rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.125rem, 6vw, 2.5rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
  font-weight: 400;
}

h5 {
  font-size: clamp(0.625rem, 6vw, 1.125rem);
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
}

@media (min-width: 2700px) {
  .content {
    width: 2700px;
    margin: 0 auto;
  }
}
header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
header nav .navbar-links {
  display: none;
  position: absolute;
  background: black;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
}
header nav .navbar-links ul {
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  gap: 56px;
  flex-direction: column;
}
header nav .navbar-links ul li {
  display: flex;
  align-items: center;
  gap: 32px;
}
header nav .nav-btn {
  z-index: 1;
  border: none;
  background: transparent;
}
header nav .active {
  display: flex;
}

@media (max-width: 300px) {
  header nav .navbar-links {
    width: 250px;
  }
}
@media (min-width: 800px) {
  header {
    background: none;
  }
  header nav .navbar-links {
    display: flex;
    position: static;
    background: none;
    width: auto;
    height: auto;
  }
  header nav .navbar-links ul {
    position: static;
    flex-direction: row;
  }
  header nav .navbar-links ul li > img {
    display: none;
  }
  header nav .nav-btn {
    display: none;
  }
}
@media (min-width: 1100px) {
  header nav {
    padding: 32px 120px;
  }
}
.hero-container .hero-banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
}
.hero-container .swiper .swiper-pagination {
  padding-bottom: 8px;
}
.hero-container .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(50, 50, 50, 0.61);
}
.hero-container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #70A7B2;
}
.hero-container .swiper .hero-movie-information-container {
  display: none;
}

@media (min-width: 800px) {
  .hero-container {
    position: relative;
    height: 900px;
  }
  .hero-container .hero-banner-img {
    height: 900px;
  }
  .hero-container .swiper .banner-foreground-overlay {
    position: absolute;
    width: 100vw;
    height: 900px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 42.59%, #000000 100%);
  }
  .hero-container .swiper .swiper-pagination {
    padding-bottom: 40px;
  }
  .hero-container .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }
  .hero-container .swiper .hero-movie-information-container {
    position: absolute;
    bottom: 220px;
    left: 30px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 600px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(90deg, rgba(117, 155, 163, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
    width: 70px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 24px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-title {
    margin-bottom: 16px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-overview {
    margin-bottom: 56px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container {
    display: flex;
    gap: 24px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container button {
    padding: 18px 23px;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 32px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container .add-to-watchlist-btn {
    background: #70A7B2;
    color: #FFFFFF;
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container .add-to-watchlist-btn:hover {
    background: #48727a;
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container .view-more-btn {
    background: linear-gradient(90deg, rgba(199, 220, 224, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
    color: #FFFFFF;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  .hero-container .swiper .hero-movie-information-container .hero-btn-container .view-more-btn:hover {
    background: linear-gradient(90deg, rgba(113, 146, 153, 0.37) 0%, rgba(84, 123, 131, 0.37) 100%);
  }
}
@media (min-width: 1000px) {
  .hero-container .swiper .hero-movie-information-container {
    left: 100px;
  }
}
@media (min-width: 1700px) {
  .hero-container .swiper .hero-movie-information-container {
    left: 180px;
    bottom: 180px;
  }
}
.small-swiper .swiper-slide img {
  width: 120px;
  border-radius: 16px;
  cursor: pointer;
}

.swiper-button-next-unique-container,
.swiper-button-prev-unique-container {
  display: none;
}

@media (min-width: 500px) {
  .small-swiper .swiper-slide img {
    width: 200px;
  }
}
@media (min-width: 1000px) {
  .swiper-button-next-unique-container,
  .swiper-button-prev-unique-container {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .swiper-button-prev-unique-container {
    left: 20px;
  }
  .swiper-button-prev-unique-container .swiper-button-prev-unique {
    cursor: pointer;
    border: none;
    background: transparent;
    transform: rotate(180deg);
  }
  .swiper-button-prev-unique-container .swiper-button-prev-unique img {
    width: 50px;
  }
  .swiper-button-next-unique-container {
    right: 20px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-next-unique-container .swiper-button-next-unique {
    cursor: pointer;
    border: none;
    background: transparent;
  }
  .swiper-button-next-unique-container .swiper-button-next-unique img {
    width: 50px;
  }
}
@media (min-width: 1500px) {
  .small-swiper .swiper-slide img {
    width: 300px;
  }
}
.trending-container {
  padding-left: 16px;
  margin-bottom: 64px;
  position: relative;
}
.trending-container h2 {
  margin-top: 64px;
  margin-bottom: 16px;
}
.trending-container .trending-movies-rating-container {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  align-items: center;
  gap: 4px;
  background: linear-gradient(90deg, rgba(117, 155, 163, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
  border-radius: 8px;
  padding: 0px 8px;
}
.trending-container .trending-movies-rating-container p {
  font-size: 0.625rem;
}
.trending-container .trending-movies-rating-container img {
  width: 15px;
}

@media (min-width: 800px) {
  .trending-container h2 {
    margin-bottom: 40px;
  }
}
@media (min-width: 1000px) {
  .trending-container {
    padding-left: 120px;
    margin-bottom: 120px;
    position: relative;
  }
  .trending-container .trending-movies-rating-container {
    padding: 3px 10px;
  }
  .trending-container .trending-movies-rating-container p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 32px;
  }
  .trending-container .trending-movies-rating-container img {
    width: 20px;
  }
}