@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --toastify-color-success: #0068C1;
}

/* Typography */
/* Containers */
/* Font Weights */
body {
  font-family: "Red Hat Display", sans-serif;
  color: #FFFFFF;
  background: #000000;
}

h1 {
  font-size: clamp(1.875rem, 6vw, 3.75rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.125rem, 6vw, 2.1875rem);
  font-weight: 700;
}

h4 {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
  font-weight: 400;
}

h5 {
  font-size: clamp(0.625rem, 3vw, 1.125rem);
  font-weight: 400;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.48);
  text-transform: uppercase;
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
}

label {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
}

button {
  cursor: pointer;
}

input[type=date] {
  font-family: "Red Hat Display", sans-serif;
}

.primary-btn {
  padding: 9px 8px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  background: #0068C1;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #FFFFFF;
}

.primary-btn:hover {
  background: #48727a;
}

.secondary-btn {
  padding: 9px 8px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  background: linear-gradient(90deg, rgba(199, 220, 224, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
  display: flex;
  align-items: center;
  color: #FFFFFF;
  gap: 8px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.secondary-btn:hover {
  background: linear-gradient(90deg, rgba(113, 146, 153, 0.37) 0%, rgba(84, 123, 131, 0.37) 100%);
}

.remove-from-watchlist-btn {
  padding: 9px 8px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  background: #B27070;
  color: #FFFFFF;
}

.remove-from-watchlist-btn:hover {
  background: #734949;
}

.link {
  text-decoration: none;
}

@media (min-width: 500px) {
  .primary-btn, .secondary-btn {
    padding: 18px 23px;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 32px;
    font-weight: bold;
    border-radius: 16px;
    border: none;
  }
}
@media (min-width: 2700px) {
  .content {
    width: 2700px;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  p {
    line-height: 28px;
  }
}
.small-swiper .swiper-slide img {
  width: 120px;
  border-radius: 16px;
  cursor: pointer;
}

.swiper-button-next-unique-container,
.swiper-button-prev-unique-container {
  display: none;
}

@media (min-width: 500px) {
  .small-swiper .swiper-slide img {
    width: 200px;
  }
}
@media (min-width: 1000px) {
  .swiper-button-next-unique-container,
  .swiper-button-prev-unique-container {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .swiper-button-prev-unique-container {
    left: 20px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-prev-unique-container .swiper-button-prev-unique {
    cursor: pointer;
    border: none;
    background: transparent;
    transform: rotate(180deg);
  }
  .swiper-button-prev-unique-container .swiper-button-prev-unique img {
    width: 50px;
  }
  .swiper-button-next-unique-container {
    right: 20px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-next-unique-container .swiper-button-next-unique {
    cursor: pointer;
    border: none;
    background: transparent;
  }
  .swiper-button-next-unique-container .swiper-button-next-unique img {
    width: 50px;
  }
}
@media (min-width: 1500px) {
  .small-swiper .swiper-slide img {
    width: 300px;
  }
}
header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
header a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
header nav .header-logo h2 span {
  color: #0068C1;
}
header nav .navbar-links {
  display: none;
  position: fixed;
  background: black;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
}
header nav .navbar-links ul {
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  gap: 56px;
  flex-direction: column;
}
header nav .navbar-links ul li {
  display: flex;
  align-items: center;
  gap: 32px;
}
header nav .nav-btn {
  position: fixed;
  right: 0;
  top: 16px;
  right: 16px;
  z-index: 100;
  border: none;
  background: transparent;
}
header nav .active {
  display: flex;
}

@media (max-width: 300px) {
  header nav .navbar-links {
    width: 250px;
  }
}
@media (min-width: 600px) {
  header nav .navbar-links {
    width: 50%;
  }
}
@media (min-width: 800px) {
  header {
    background: none;
  }
  header nav .navbar-links {
    display: flex;
    position: static;
    background: none;
    width: auto;
    height: auto;
  }
  header nav .navbar-links ul {
    position: static;
    flex-direction: row;
  }
  header nav .navbar-links ul li > img {
    display: none;
  }
  header nav .nav-btn {
    display: none;
  }
}
@media (min-width: 1000px) {
  header nav {
    padding: 32px 120px;
  }
}
.hero-container {
  position: relative;
  min-height: 700px;
}
.hero-container .hero-banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 700px;
}
.hero-container .swiper .banner-foreground-overlay {
  position: absolute;
  width: 100vw;
  height: 700px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 42.59%, #000000 100%);
}
.hero-container .swiper .swiper-pagination {
  padding-bottom: 8px;
}
.hero-container .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(50, 50, 50, 0.61);
}
.hero-container .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #0068C1;
}
.hero-container .swiper .hero-movie-information-container {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  bottom: 150px;
  left: 10px;
}
.hero-container .swiper .hero-movie-information-container .hero-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: linear-gradient(90deg, rgba(117, 155, 163, 0.9) 0%, rgba(117, 155, 163, 0.6) 100%);
  width: 70px;
  padding: 4px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 8px;
  margin-bottom: 24px;
}
.hero-container .swiper .hero-movie-information-container .hero-title {
  margin-bottom: 16px;
}
.hero-container .swiper .hero-movie-information-container .hero-overview {
  margin-bottom: 56px;
  display: none;
}
.hero-container .swiper .hero-movie-information-container .hero-btn-container {
  display: flex;
  gap: 24px;
}
.hero-container .swiper .hero-movie-information-container .hero-btn-container .view-more-btn {
  text-decoration: none;
}

@media (min-width: 500px) {
  .hero-container .swiper .hero-movie-information-container .hero-overview {
    display: flex;
    padding-right: 24px;
  }
}
@media (min-width: 800px) {
  .hero-container {
    height: 900px;
  }
  .hero-container .hero-banner-img {
    height: 900px;
  }
  .hero-container .swiper .banner-foreground-overlay {
    height: 900px;
  }
  .hero-container .swiper .swiper-pagination {
    padding-bottom: 40px;
  }
  .hero-container .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }
  .hero-container .swiper .hero-movie-information-container {
    bottom: 220px;
    left: 30px;
    width: 600px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-overview {
    padding-right: 0px;
  }
  .hero-container .swiper .hero-movie-information-container .hero-rating-container {
    padding: 8px;
  }
}
@media (min-width: 850px) {
  .hero-container .swiper .hero-movie-information-container {
    left: 100px;
  }
}
@media (min-width: 1100px) {
  .hero-container .swiper .hero-movie-information-container {
    left: 180px;
    bottom: 180px;
  }
}
.in-theatres-container {
  margin-top: 64px;
  padding-left: 16px;
  position: relative;
}
@media (min-width: 1000px) {
  .in-theatres-container {
    padding-left: 180px;
    margin-top: 120px;
  }
}
.in-theatres-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .in-theatres-container h2 {
    margin-bottom: 40px;
  }
}
.in-theatres-container .in-theatres-rating-container {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  align-items: center;
  gap: 4px;
  background: linear-gradient(90deg, rgba(117, 155, 163, 0.9) 0%, rgba(117, 155, 163, 0.6) 100%);
  border-radius: 8px;
  padding: 0px 8px;
  color: #FFFFFF;
}
.in-theatres-container .in-theatres-rating-container p {
  font-size: 0.625rem;
}
.in-theatres-container .in-theatres-rating-container img {
  width: 15px;
}

@media (min-width: 1000px) {
  .in-theatres-container {
    position: relative;
  }
  .in-theatres-container .in-theatres-rating-container {
    padding: 3px 10px;
  }
  .in-theatres-container .in-theatres-rating-container p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 32px;
  }
  .in-theatres-container .in-theatres-rating-container img {
    width: 20px;
  }
}
.trending-container {
  margin-top: 64px;
  padding-left: 16px;
  position: relative;
}
@media (min-width: 1000px) {
  .trending-container {
    padding-left: 180px;
    margin-top: 120px;
  }
}
.trending-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .trending-container h2 {
    margin-bottom: 40px;
  }
}
.trending-container .trending-movies-rating-container {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  align-items: center;
  gap: 4px;
  background: linear-gradient(90deg, rgba(117, 155, 163, 0.9) 0%, rgba(117, 155, 163, 0.6) 100%);
  border-radius: 8px;
  padding: 0px 8px;
  color: #FFFFFF;
}
.trending-container .trending-movies-rating-container p {
  font-size: 0.625rem;
}
.trending-container .trending-movies-rating-container img {
  width: 15px;
}

@media (min-width: 1000px) {
  .trending-container {
    position: relative;
  }
  .trending-container .trending-movies-rating-container {
    padding: 3px 10px;
  }
  .trending-container .trending-movies-rating-container p {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 32px;
  }
  .trending-container .trending-movies-rating-container img {
    width: 20px;
  }
}
.latest-videos-container {
  margin-top: 64px;
  padding-left: 16px;
  position: relative;
}
@media (min-width: 1000px) {
  .latest-videos-container {
    padding-left: 180px;
    margin-top: 120px;
  }
}
.latest-videos-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .latest-videos-container h2 {
    margin-bottom: 40px;
  }
}
.latest-videos-container .latest-video-img-container {
  position: relative;
}
.latest-videos-container .latest-video-img-container .youtube-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
}
.latest-videos-container .latest-video-youtube-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px;
  border: 3px solid #0068C1;
}
.latest-videos-container p {
  font-size: clamp(0.625rem, 3vw, 1.125rem);
  font-weight: 400;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.48);
  text-transform: uppercase;
}
.latest-videos-container h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  margin-top: 4px;
}

@media (min-width: 420px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 250px;
  }
}
@media (min-width: 500px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 200px;
  }
}
@media (min-width: 600px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 250px;
  }
}
@media (min-width: 700px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 300px;
  }
  .latest-videos-container h3 {
    margin-top: 16px;
  }
}
@media (min-width: 900px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 250px;
  }
  .latest-videos-container h3 {
    width: 350px;
  }
}
@media (min-width: 1000px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 200px;
  }
  p {
    margin-top: 4px;
  }
}
@media (min-width: 1100px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .latest-videos-container h3 {
    width: 450px;
  }
}
@media (min-width: 1500px) {
  .latest-videos-container h3 {
    width: 350px;
  }
}
@media (min-width: 1700px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 240px;
  }
  .latest-videos-container h3 {
    width: 440px;
  }
}
@media (min-width: 2400px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 400px;
  }
}
@media (min-width: 2600px) {
  .latest-videos-container .latest-video-youtube-thumbnail {
    height: 450px;
  }
}
.movie-details-container {
  margin-top: 100px;
}
.movie-details-container .movie-details-grid {
  display: grid;
}
.movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
  height: 250px;
  width: 100%;
  margin-bottom: 16px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content {
  padding: 4px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-title-rating-container .movie-details-rating {
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(90deg, rgba(117, 155, 163, 0.9) 0%, rgba(117, 155, 163, 0.6) 100%);
  padding: 0px 16px;
  border-radius: 8px;
  margin-left: 8px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-title-rating-container .movie-details-rating > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-tagline {
  color: rgba(255, 255, 255, 0.48);
  margin-bottom: 8px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-genre-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-genre-container .movie-details-genres {
  background: linear-gradient(90deg, rgba(199, 199, 199, 0.37) 0%, rgba(153, 153, 153, 0.37) 99.48%);
  border-radius: 16px;
  padding: 4px 16px;
  text-align: center;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-genre-container .movie-details-genres > p {
  font-weight: 600;
}
.movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-overview-container {
  margin-bottom: 24px;
}
.movie-details-container .movie-details-grid .top-half .movie-details-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.movie-details-container .movie-details-grid .top-half .movie-details-btn-container button {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.movie-details-container .movie-details-grid .bottom-half {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.movie-details-container .movie-details-grid .bottom-half img {
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
}
.movie-details-container .movie-details-grid .bottom-half .movie-details-extra-movie-information .movie-details-extra-subtitle {
  font-weight: 700;
}

@media (min-width: 500px) {
  .movie-details-container .movie-details-grid {
    gap: 8px;
  }
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 350px;
  }
  .movie-details-container .movie-details-grid .top-half .movie-details-btn-container button {
    display: flex;
    justify-content: space-around;
    width: 250px;
  }
}
@media (min-width: 650px) {
  .movie-details-container {
    margin-top: 150px;
  }
  .movie-details-container .movie-details-grid .top-half iframe {
    height: 350px;
  }
  .movie-details-container .movie-details-grid .top-half .movie-details-btn-container {
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 200px;
    height: 300px;
  }
}
@media (min-width: 750px) {
  .movie-details-container .movie-details-grid {
    padding: 0px 16px;
    display: flex;
    justify-content: center;
  }
  .movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-title-rating-container .movie-details-rating {
    padding: 8px 16px;
    margin-left: 24px;
  }
  .movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-overview-container > p {
    padding-right: 40px;
  }
  .movie-details-container .movie-details-grid .bottom-half {
    flex-direction: column;
    justify-content: flex-start;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    height: 350px;
  }
}
@media (min-width: 800px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 350px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    height: 350px;
  }
}
@media (min-width: 1000px) {
  .movie-details-container {
    margin-top: 200px;
  }
  .movie-details-container .movie-details-grid {
    padding: 0px 180px;
    display: flex;
    justify-content: center;
  }
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 350px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    height: 350px;
    width: 250px;
  }
  .movie-details-container .movie-details-grid .bottom-half .movie-details-extra-movie-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .movie-details-container .movie-details-grid .bottom-half .movie-details-extra-movie-information .movie-details-extra-subtitle {
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 400px;
  }
  .movie-details-container .movie-details-grid .top-half .movie-details-btn-container .remove-from-watchlist-btn {
    width: 280px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 1400px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 450px;
  }
  .movie-details-container .movie-details-grid .top-half .top-half-padded-content .movie-details-information-container .movie-details-overview-container > p {
    padding-right: 120px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 300px;
    height: 450px;
  }
}
@media (min-width: 1600px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 500px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 350px;
    height: 500px;
  }
}
@media (min-width: 1800px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 600px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 420px;
    height: 600px;
  }
}
@media (min-width: 2133px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 750px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    height: 750px;
  }
}
@media (min-width: 2400px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 800px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 550px;
    height: 800px;
  }
}
@media (min-width: 2560px) {
  .movie-details-container .movie-details-grid .top-half iframe, .movie-details-container .movie-details-grid .top-half .no-video-found-img {
    height: 900px;
  }
  .movie-details-container .movie-details-grid .bottom-half img {
    width: 600px;
    height: 900px;
  }
}
.watchlist-container {
  margin-top: 100px;
  padding: 0px 16px;
}
.watchlist-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .watchlist-container h2 {
    margin-bottom: 40px;
  }
}
.watchlist-container .watchlist-movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

@media (min-width: 1000px) {
  .watchlist-container {
    margin-top: 200px;
    padding: 0px 180px;
  }
}
@media (min-width: 1300px) {
  .watchlist-container .watchlist-movies-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
}
@media (min-width: 1750px) {
  .watchlist-container .watchlist-movies-container {
    grid-template-columns: repeat(9, 1fr);
  }
}
@media (min-width: 2400px) {
  .watchlist-container .watchlist-movies-container {
    grid-template-columns: repeat(11, 1fr);
  }
}
.movie-details-top-cast-container {
  margin-top: 64px;
  padding-left: 16px;
  position: relative;
}
@media (min-width: 1000px) {
  .movie-details-top-cast-container {
    padding-left: 180px;
    margin-top: 120px;
  }
}
.movie-details-top-cast-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .movie-details-top-cast-container h2 {
    margin-bottom: 40px;
  }
}
.movie-details-top-cast-container .movie-details-person-container {
  width: 120px;
}
.movie-details-top-cast-container .movie-details-person-container > p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 110px;
  text-align: center;
}
.movie-details-top-cast-container .movie-details-person-container .top-cast-character {
  color: rgba(255, 255, 255, 0.48);
  font-size: clamp(0.75rem, 2vw, 1rem);
}

@media (min-width: 450px) {
  .movie-details-top-cast-container .movie-details-person-container > p {
    width: auto;
  }
}
@media (min-width: 500px) {
  .movie-details-top-cast-container .movie-details-person-container {
    width: 200px;
  }
}
@media (min-width: 1500px) {
  .movie-details-top-cast-container .movie-details-person-container {
    width: 300px;
  }
}
.movie-details-starring-container {
  position: relative;
  margin-top: 64px;
}
.movie-details-starring-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .movie-details-starring-container h2 {
    margin-bottom: 40px;
  }
}
.movie-details-starring-container .movie-details-starring-movie-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  cursor: pointer;
}
.movie-details-starring-container .movie-details-starring-movie-container p {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 8px;
  color: #FFFFFF;
}

@media (min-width: 1000px) {
  .movie-details-starring-container {
    margin-top: 120px;
  }
  .movie-details-starring-container h2 {
    padding-left: 120px;
  }
  .movie-details-starring-container .movie-details-starring-movie-container p {
    margin-top: 16px;
  }
}
.movie-details-more-like-this-container {
  margin-top: 64px;
  padding-left: 16px;
  position: relative;
}
@media (min-width: 1000px) {
  .movie-details-more-like-this-container {
    padding-left: 180px;
    margin-top: 120px;
  }
}
.movie-details-more-like-this-container h2 {
  margin-bottom: 16px;
}
@media (min-width: 800px) {
  .movie-details-more-like-this-container h2 {
    margin-bottom: 40px;
  }
}

.form-modal {
  background: linear-gradient(180deg, #131313 64.47%, #093A65 100%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 105;
  overflow-x: auto;
}
.form-modal #history-add-form .close-btn {
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  margin: 16px;
  font-weight: 400;
}
.form-modal #history-add-form h3 {
  font-size: clamp(1.25rem, 6vw, 1.75rem);
  font-weight: 400;
  margin-top: 40px;
  text-align: center;
}
.form-modal #history-add-form .history-form-top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-modal #history-add-form .history-form-top-half img {
  border-radius: 16px;
  margin-top: 24px;
  width: 90px;
}
.form-modal #history-add-form .history-form-top-half p {
  margin-top: 16px;
  font-weight: 500;
}
.form-modal #history-add-form .history-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-modal #history-add-form .history-form-container .history-form-date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
}
.form-modal #history-add-form .history-form-container .history-form-date-container input[type=date] {
  margin-top: 8px;
  background: #303030;
  border: none;
  color: #FFFFFF;
  padding: 16px;
  border-radius: 6px;
  font-size: 0.875rem;
  width: 290px;
}
.form-modal #history-add-form .history-form-container .history-form-date-container input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 322px;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-top: 8px;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item {
  display: flex;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item input[type=radio]:checked + label {
  background: linear-gradient(90deg, #003E73 0%, #006FCF 100%);
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item .history-add-rating-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #303030;
  width: 58px;
  border-radius: 8px;
  cursor: pointer;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item .history-add-rating-label:hover {
  background: #242424;
}
.form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item .history-add-rating-label p {
  font-size: 0.625rem;
  font-weight: 600;
}
.form-modal #history-add-form .history-form-container .history-rewatch-form-container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.form-modal #history-add-form .history-form-container .history-rewatch-form-container input[type=checkbox] {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #303030;
  border: none;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.form-modal #history-add-form .history-form-container .history-rewatch-form-container input[type=checkbox]:hover {
  background: #242424;
}
.form-modal #history-add-form .history-form-container .history-rewatch-form-container input[type=checkbox]:checked {
  background-color: #5BCF6D;
}
.form-modal #history-add-form .history-form-container .history-rewatch-form-container input[type=checkbox]:checked:after {
  content: url("https://gistcdn.githack.com/KunalP99/909ff4e406ccbeb233aa6c244696cc9c/raw/e098738fb4d2c932055cc40ea902b4c0ec93658f/white-tick.svg");
}
.form-modal #history-add-form .history-form-container .history-form-points-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
}
.form-modal #history-add-form .history-form-container .history-form-points-container :first-child {
  color: rgba(255, 255, 255, 0.48);
}
.form-modal #history-add-form .history-form-container .history-form-points-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.form-modal #history-add-form .history-form-container .history-form-points-container > div p {
  font-size: 1.875rem;
}
.form-modal #history-add-form .history-form-container .history-form-submit-btn {
  padding: 9px 8px;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  line-height: 32px;
  font-weight: bold;
  border-radius: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 322px;
  padding: 8px 0px;
  border-radius: 8px;
  background: #0068C1;
  color: #FFFFFF;
  border: none;
  margin-top: 32px;
  margin-bottom: 56px;
}

@media (max-width: 330px) {
  .form-modal {
    width: 330px;
    height: 100%;
  }
}
@media (min-width: 750px) {
  .form-modal {
    display: flex;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .form-modal #history-add-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .form-modal #history-add-form h3 {
    margin-top: 0px;
    text-align: left;
  }
  .form-modal #history-add-form .history-form-top-half img {
    width: 250px;
  }
  .form-modal #history-add-form .history-form-container .history-form-date-container input[type=date] {
    font-size: 1rem;
    width: 350px;
  }
  .form-modal #history-add-form .history-form-container .history-form-rating-container {
    width: 382px;
  }
  .form-modal #history-add-form .history-form-container .history-form-rating-container .history-add-rating-item-container .history-add-item .history-add-rating-label p {
    font-size: 1rem;
  }
  .form-modal #history-add-form .history-form-container .history-form-submit-btn {
    width: 382px;
    margin-bottom: 0px;
  }
}
@media (min-width: 900px) {
  .form-modal #history-add-form .history-form-top-half img {
    width: 350px;
  }
}
@media (min-width: 1500px) {
  .form-modal-background {
    background: rgba(0, 0, 0, 0.753);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 105vh;
    z-index: 100;
  }
  .form-modal {
    width: 1000px;
    height: 700px;
    border-radius: 16px;
  }
  .form-modal #history-add-form .history-form-top-half img {
    width: 300px;
  }
}
.watchlist-movie-container {
  position: relative;
  max-width: 200px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.watchlist-movie-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.watchlist-movie-container .watchlist-movie-btn-container {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: linear-gradient(90deg, rgba(28, 28, 28, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  height: 30px;
  border-radius: 16px;
}
.watchlist-movie-container .watchlist-movie-btn-container button {
  background: none;
  border: none;
}
.watchlist-movie-container .watchlist-movie-btn-container button img {
  width: 15px;
}

.watchlist-movie-container:hover {
  transform: scale(1.05);
}

.watchlist-movie-container:hover > .watchlist-movie-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  .watchlist-movie-container .watchlist-movie-btn-container {
    height: 50px;
    gap: 16px;
  }
  .watchlist-movie-container .watchlist-movie-btn-container button img {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .watchlist-movie-container .watchlist-movie-btn-container {
    gap: 16px;
    bottom: -3px;
  }
  .watchlist-movie-container .watchlist-movie-btn-container button img {
    width: 100%;
  }
}
.profile-widget-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 24px;
  background: #131313;
  overflow: auto;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 64px;
}
.profile-widget-container img {
  width: 36px;
  height: 36px;
  border-radius: 80px;
}
.profile-widget-container .profile-widget-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-widget-container .profile-widget-item p {
  color: rgba(255, 255, 255, 0.48);
  font-size: clamp(1rem, 2vw, 1.75rem);
}

@media (min-width: 600px) {
  .profile-widget-container img {
    width: 63px;
    height: 63px;
  }
}
@media (min-width: 1000px) {
  .profile-widget-container {
    margin-bottom: 120px;
  }
}
@media (min-width: 1400px) {
  .profile-widget-container {
    padding: 16px 120px;
  }
  .profile-widget-container img {
    width: 63px;
    height: 63px;
  }
}