@import './spacing';

$main-font-family: 'Red Hat Display', sans-serif;


// Colours 
$primary-colour: #70A7B2;
$foreground-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 42.59%, #000000 100%);

/* Typography */
// H1
@mixin h1 {
  font-size: pxToRem(60px);
  font-weight: $font-weight-bold;
}

@mixin h2 {
  font-size: pxToRem(48px);
  font-weight: $font-weight-bold;
}

@mixin h3 {
  font-size: pxToRem(40px);
  font-weight: $font-weight-bold;
}

@mixin subtitle {
  font-size: pxToRem(28px);
  font-weight: $font-weight-regular;
}

@mixin subtitle2 {
  font-size: pxToRem(18px);
  font-weight: $font-weight-regular;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}

@mixin body-large-regular {
  font-size: pxToRem(20px);
  font-weight: $font-weight-regular;
}

@mixin body-large-semi {
  font-size: pxToRem(20px);
  font-weight: $font-weight-semi;
}

@mixin body-small-regular {
  font-size: pxToRem(16px);
  font-weight: $font-weight-regular;
}

@mixin body-small-semi {
  font-size: pxToRem(16px);
  font-weight: $font-weight-semi;
}

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Converts pixel to rem
@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}


