@use 'sass:math';
@import './spacing';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');

:root {
  // Toastify 
  --toastify-color-success: #0068C1;
}

// BG Colours 
$primary-colour: #0068C1;
$primary-bg-colour: #000000;
$secondary-btn-bg-colour: white;
$dark-grey: #131313;
$light-grey: #303030;
$blue-linear: linear-gradient(90deg, #003E73 0%, #006FCF 100%);
$foreground-overlay: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 42.59%, #000000 100%);
$genre-bg-colour: linear-gradient(90deg, rgba(199, 199, 199, 0.37) 0%, rgba(153, 153, 153, 0.37) 99.48%);
$watchlist-movie-bg-colour: linear-gradient(90deg, rgba(28, 28, 28, 0.37) 0%, rgba(117, 155, 163, 0.37) 100%);
$history-grid-item-hover-bg-colour: linear-gradient(90deg, rgba(117, 155, 163, 0.1541) 0%, rgba(134, 167, 174, 0.23) 100%);
$remove-from-watchlist-bg-colour: #E52020;

// Form Colours
$green-colour: #5BCF6D;
$input-hover-colour: #242424;
$form-bg-colour:  linear-gradient(180deg, #131313 64.47%, #093A65 100%);

// Font colours
$primary-font-colour: #FFFFFF;
$transparent-white-font-colour: rgba(255, 255, 255, 0.48);

$main-font-family: 'Red Hat Display', sans-serif;

// Border radius
$border-radius: 16px;

// Buttons
@mixin main-btn {
  padding: 18px 23px;
  @include body-regular;
  font-weight: bold;
  border-radius: $spacing-16;
  border: none;
}

@mixin main-btn-small {
  padding: 9px 8px;
  font-size: clamp(pxToRem(13px), 1.5vw, pxToRem(20px));
  font-weight: $font-weight-regular;
  font-weight: bold;
  border-radius: $spacing-08;
  border: none;
}

@mixin reset-btn {
  border: none;
  background: transparent;
}

/* Typography */
// H1
@mixin h1 {
  font-size: clamp(pxToRem(30px), 6vw, pxToRem(60px));
  font-weight: $font-weight-bold;
}

@mixin h2 {
  font-size: clamp( pxToRem(24px), 6vw, pxToRem(48px));
  font-weight: $font-weight-bold;
}

@mixin h3 {
  font-size: clamp(pxToRem(18px), 6vw, pxToRem(35px));
  font-weight: $font-weight-bold;
}

@mixin subtitle {
  font-size: clamp(pxToRem(20px), 6vw, pxToRem(28px));
  font-weight: $font-weight-regular;
}

@mixin subtitle2 {
  font-size: clamp(pxToRem(10px), 1vw, pxToRem(18px));
  font-weight: $font-weight-regular;
  letter-spacing: 0.4px;
  color: $transparent-white-font-colour;
  text-transform: uppercase;
}

@mixin body-regular {
  font-size: clamp(pxToRem(16px), 1.5vw, pxToRem(20px));
  font-weight: $font-weight-regular;
  line-height: 32px;
}

/* Containers */
@mixin rating-container-style {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  align-items: center;
  gap: $spacing-04;
  background: $blue-linear;
  border-radius: 8px;
  padding: 0px $spacing-08;
  color: $primary-font-colour;
}

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Converts pixel to rem
@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}