body {
  font-family: $main-font-family;
  color: $primary-font-colour;
  background: $primary-bg-colour
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include subtitle;
}
h5 {
  @include subtitle2;
} 
p {
  @include body-regular;
}

@media (min-width: 2700px) {
  .content {
    width: 2700px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  p {
    line-height: 28px;
  }
}