.movie-details-container {
  margin-top: 100px;

  .movie-details-grid {
    display: grid;
    justify-content: center;
    padding: 0px  $spacing-40;

    .top-half {
      iframe {
        height: 250px;
        width: 100%;
      }
    }

    .bottom-half {
      img {
        width: 150px;
      }
    }
  }
}

@media (min-width: 500px) {
  .movie-details-container {
    .movie-details-grid {
      gap: $spacing-08;
      .top-half {
        iframe {
          height: 350px;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .movie-details-container {
    .movie-details-grid {
      grid-template-columns: 350px 1fr;
      
      .top-half {
        iframe {
          height: 250px;
        }
      }

      .bottom-half {
        img {
          height: 250px;
        }
      }
    }
  }
}