.watchlist-container {
  margin-top: 100px;
  padding: 0px $spacing-16;

  h2 {
    @include h2-spacing;
  }

  .watchlist-movies-container {
    display: grid;
    grid-template-columns: repeat((5, 1fr));
    gap: $spacing-08;
  }
}

@media (min-width: 1000px) {
  .watchlist-container {
    margin-top: 200px;
    padding: 0px 180px;
  }
}

@media (min-width: 1300px) {
    .watchlist-container {
    .watchlist-movies-container {
    grid-template-columns: repeat((6, 1fr));
    gap: $spacing-16;
    }
  }
}

@media (min-width: 1750px) {
  .watchlist-container {
    .watchlist-movies-container {
    grid-template-columns: repeat((9, 1fr));
    }
  }
}

@media (min-width: 2400px) {
  .watchlist-container {
    .watchlist-movies-container {
    grid-template-columns: repeat((11, 1fr));
    }
  }
}