.watchlist-container {
  margin-top: 100px;
  padding: 0px $spacing-16;

  h2 {
    @include h2-spacing;
  }

  .watchlist-movies-container {
    display: grid;
    grid-template-columns: repeat((5, 1fr));
    gap: $spacing-08;

    .watchlist-movie-container {
      max-width: 200px;
      cursor: pointer;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        transition: 200ms ease-in-out;
      }
      img:hover {
        transform: scale(1.03);
        border-radius: 0px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .watchlist-container {
    margin-top: 150px;
    padding: 0px 180px;
  }
}

@media (min-width: 1300px) {
    .watchlist-container {
    margin-top: 150px;

    .watchlist-movies-container {
    grid-template-columns: repeat((6, 1fr));
    gap: $spacing-16;
    }
  }
}

@media (min-width: 1750px) {
  .watchlist-container {
    .watchlist-movies-container {
    grid-template-columns: repeat((9, 1fr));
    }
  }
}

@media (min-width: 2400px) {
  .watchlist-container {
    .watchlist-movies-container {
    grid-template-columns: repeat((11, 1fr));
    }
  }
}