  .movie-details-top-cast-container {
    @include container-spacing;
    position: relative;

    h2 {
      @include h2-spacing;
    }

    .movie-details-person-container {
      width: 120px;
      > p {
        // Adds an ellipsis if the name goes over the second line
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 110px;
        text-align: center;
      }

      .top-cast-character {
        color: $transparent-white-font-colour;
        font-size: clamp(pxToRem(12px), 2vw, pxToRem(16px));
      }
    }
  }

  @media (min-width: 450px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        > p {
          width: auto;
        }
      }
    }
  }

  @media (min-width: 500px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        width: 200px;
      }
    }
  }

  @media (min-width: 1500px) {
    .movie-details-top-cast-container {
      .movie-details-person-container {
        width: 300px;
      }
    }
  }